#box {
	height: 800px;
	display: grid;
	grid-template-areas: "musicaTitle musicaTitle"
						   "musicaAlbum1 musicaAlbum2"
						   "musicaAlbum3 musicaAlbum4"
						   "musicaAlbum5 musicaAlbum6";
	grid-template-columns: 50% 50%;
	grid-template-columns: auto auto auto auto;
	margin: auto;
	justify-content: center;
	text-align: center;

}


#musicaTitle {
	margin: auto;
	text-align: center;
}

#box img {
	width: 540px;
	height: 320px;

}

#musicaAlbum1 {
	grid-area: musicaAlbum1;
	margin: 5px;
}

#musicaAlbum2 {
	grid-area: musicaAlbum2;
	margin: 5px;
}

#musicaAlbum3 {
	grid-area: musicaAlbum3;
	margin: 5px;
}

#musicaAlbum4 {
	grid-area: musicaAlbum4;
	margin: 5px;
}

#musicaAlbum5 {
	grid-area: musicaAlbum5;
	margin: 5px;
}

#musicaAlbum6 {
	grid-area: musicaAlbum6;
	margin: 5px;
}