#zonaArriba {
	float: left;
	height: 75px;
	width: 100%;
	background-color: black;
	/* Aquí deberás añadir 2 líneas */
	/* Una es la básica de FLEX. Y para la otra... Mira cómo se distribuyen horizontalmente... */
	display: flex;
	justify-content: space-between;
}

#zonaIzquierda {
	float: left;
	height: 375px;
	width: 25%;
	background-color: lightgray;
	/* Aquí deberás añadir 2 líneas */
	/* Una es la básica de FLEX. Y para la otra... Mira la dirección de los elementos... */
	display: flex;
	flex-direction: column; 
}

#zonaDerecha {
	float: left;
	height: 375px;
	width: 75%;
	background-color: #FCF3CF;
	/* Aquí deberás añadir 4 líneas */
	/* Una es la básica de FLEX. Otra para que bajen línea. Y las otras para que se queden así... */
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	
}

/* ↓↓↓ Aquí abajo deberás dar estilo a tus 3 clases ↓↓↓ */
/* ↓↓↓ Pistas:
	   - Las cajas de la zona de arriba tienen margen de 10px, y no necesitan altura ni anchura
	   - Las cajas de la izquierda tienen altura 100px, margen 20px, borde 1px y color de fondo darkgray. Sin ancho
	   - Las cajas de la derecha tienen altura 100px, ancho 200px, margen 10px y borde 1px */
	   
	.div{
		color: white;
		margin: 10px;
	}
	.div1{
		border: 1px solid black;
		color: black;
		margin: 20px;
		height: 100px;
		text-align: center;
		background-color: darkgray;	
	}
	.div2{
		border: 1px solid black;
		height: 100px;
		width: 200px;
		margin: 10px;
		text-align: center;
		background-color: white;
	}